# your credentials
username = "myusername" # Your robinhood username or email
password = "mypassword" # Your robinhood password

# should also be generated, but needs to be found for now
device_token = "1232312ddjsj" # Your device token in the headers
