# your credentials
username = "myusername" # Your robinhood username or email
password = "mypassword" # Your robinhood password

# should also be generated, but needs to be found for now
device_id = "1232312ddjsj" # Your device id in the headers
